.App {
  text-align: center;
  background-color: #c92626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#FFMSelectors {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#left {
  padding-left: 100px;
}

#right {
  padding-right: 100px;
}

button.FFRS img {
  width: 100px;
  height: 100px;
}

button.FFRS {
  width: 100px;
  height: 100px;

  background: top right no-repeat;
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
